* {
	font-family: 'Product Sans', Arial, Helvetica, sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 14px;
}
#pages > a {
	text-decoration: none;
	font-size: 12px;
	padding: 10px;
	color: black;
}
#pages > a:hover{
	text-decoration:underline;
}
header {
	border-bottom: 1px solid #EBEBEB;
}
.header > a > img {
	width: 73px;
	padding: 7px;
}

header > h1 {
	font-size: 20px;
	padding: 10px;
	font-weight: lighter;
	color: #D93025;
	margin-left: 35px;
	margin-top: 8px;
	margin-bottom: 15px;
}

form {
	padding: 10px;
	margin-left: 30px;
	margin-top: 5px;
	flex: 1;
}

.container {
	margin-top: 25px;
	margin-left: 5px;
	width: 100%;
	display: grid;
	grid-template-columns: 12% 555px 400px;
	grid-template-rows: 30px auto auto auto auto auto;
	row-gap: 13px;
	column-gap: 20px;
	align-items: center;
}

span {
	color: #666;
	font-family: monospace;
	font-size: 11px;
	white-space: pre;
}

#search-head-left{
	font-size: 16px;
	font-weight: 500;
	color: #3E3E3E;
	font-family: 'Product Sans', Arial, Helvetica, sans-serif;
}
#search-head-right{
	font-size: 13px;
	font-weight: 700;
	color: #777;
	font-family: 'Product Sans', Arial, Helvetica, sans-serif;
}
label {
	color: #222;
	font-size: 13px;
	line-height: 16px;
}
.items {
	color: #555;
	font-size: 11px;
}
.items:nth-of-type(2) {
	visibility: hidden;
}
.right {
	padding: 0 12px;
}
input[aria-label="Search"] {
	border-radius: 1px;
	border: 1px solid #d9d9d9;
	width: 555px;
	text-align: left;
	height: 27px;
	border-top: 1px solid #c0c0c0;
	padding: 0 8px;
}
input[type="submit"] {
	border-radius: 2px;
	border: 1px solid #3079ed;
	height:30px;
	background-color: #4d90fe;
	margin-top: 10px;
	color: white;
	float: right;
	width: 120px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	padding: 0 8px;
}
input[type="submit"]:hover {
	background-color: #357ae8;
	cursor: default;
}

.items:nth-of-type(17) {
	height: 30px;
}

@media screen and (min-resolution: 120dpi) {
	.right{
	  visibility: hidden;
	}
}
footer {
	position: relative;
	background-color: #F2F2F2;
	height: 95px;
	width: 100%;
}

.location {
	color: #72777C;
	padding: 15px;
	padding-left: 30px;
	border-bottom: 1px solid #E0E2E5;
	font-size: 15px;
}
.useful-links {
	display: flex;
	justify-content: space-between;
	padding-right: 22px;
	padding-left: 22px;
	margin-top: 13px;
}

#left-links > a {
	color: #70757a;
	padding-right: 13px;
	padding-left: 13px;
	font-size: 14px;
	text-decoration: none;
}

#left-links > a:hover {
	text-decoration: underline;
}