{% extends "encyclopedia/layout.html" %}
{% load markdown_extras %}

{% block title %}
    {% if entry == None %}
		Page Not Found
	{% else %}
		{{title}} - Encyclopedia
	{% endif %}
{% endblock %}

{% block body %}
	<h1 class="title">{{ title }}</h1>
	{% if entry == None %}
		<h1 style="font-size:50px; text-align:center;"><strong>Page '{{ title }}'</strong> Not Found</h1>
	{% else %}
		<dev class="entry">
			<a href="{% url 'edit' title %}">Edit</a>
			{{ entry| markdown |safe }}
		</dev>
	{% endif %}
{% endblock %}